node_modules
.env
coverage
coverage.json
typechain
.secret
.solhint.json
tailwind.config.js
next-env.d.ts
.solhintignore
.npmignore
.eslintrc.js
.next
.env.example
.prettierignore


#Hardhat files
cache
artifacts
hardhat.config.ts